---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="Tesla el coche de tus sueños (y de Elon Musk)">
  <main>
    <LandingHeader />
    <HeroSection />
    <HeroSection />
    <HeroSection />
    <HeroSection />
  </main>
</Layout>
