---
import SectionReusable from "./SectionReusable.astro";
---

<SectionReusable
  title="Disfrute de Tesla"
  subtitle="Programe una prueba de conducción hoy mismo"
  color="white"
>
  <div slot="footer">
    <a
      class="border-2 text-sm rounded font-medium px-12 py-2 border-white bg-white/5 backdrop-blur-xl hover:bg-white hover:text-black transition-colors"
      href="#">Prueba de conducción</a
    >
  </div>

  <video
    slot="background"
    class="object-cover h-full w-full"
    src="/video-home.mp4"
    autoplay
    muted
    loop
  >
  </video>
</SectionReusable>
